<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
	{% stylesheets  '@MacauSEMainBundle/Resources/public/css/*'
					'@MacauSEMainBundle/Resources/public/bootstrap/less/bootstrap.less'
					  filter='less' %}
	<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
	{% endstylesheets %}

	{% javascripts 	'js/vendor/jquery-1.7.1.min.js'
	'js/vendor/underscore-min.js'
	'js/vendor/backbone-min.js'
	'@MacauSEMainBundle/Resources/public/bootstrap/js/bootstrap-tab.js'
	'@MacauSEMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
	'@MacauSEMainBundle/Resources/public/js/main.js' %}
	<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts%}
	{% block head %}{% endblock %}
	<title>{% block title %}MGCSE{% endblock %}</title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{ path('macause_homepage') }}">
				  MCGSE
				</a>

				<ul class="nav">
				  <li><a href="{{ path('macause_homepage') }}">{{ 'layout.home'|trans({}, 'MacauSEMainBundle') }}</a></li>
				  <li><a href="{{ path('organization_profile_directory') }}">{{ 'layout.directory'|trans({}, 'MacauSEMainBundle') }}</a></li>
				</ul>
				
				{% block navbar %}{% endblock %}

				
			</div>
		</div>
	</div>
	<div class="container">
	{% block content %}
	{% endblock %}
	<hr />
	<footer class="span11"><p>© MGCSE 2012</p></footer>

	</div>


</html>