{% extends 'MacauSEOrganizationProfileBundle::layout.html.twig' %}

{% block navbar %}
{{ parent() }}

	{% if is_granted('ROLE_ADMIN') %}
		
		<!-- <script type="text/javascript" src="/bundles/macausemain/mercury/javascripts/mercury_loader.js"></script> -->


		<script type="text/javascript" charset="utf-8">
		(function(){
			$('.dropdown-toggle').dropdown();
		})
			$("#profileEditButton").click(function(){
				Mercury.trigger('toggle:interface');
				$(this).toggleClass('btn-warning');
			})
		</script>
	{% endif %}
	
	
{% endblock %}

{% block head %}
{{ parent() }}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% javascripts 
		'@MacauSEOrganizationProfileBundle/Resources/public/tagedit/js/jquery-ui-1.8.18.custom.min.js'
		'@MacauSEOrganizationProfileBundle/Resources/public/tagedit/js/jquery.autoGrowInput.js'
		'@MacauSEOrganizationProfileBundle/Resources/public/tagedit/js/jquery.tagedit.js'
	
		'@MarcoLeongMercuryEditorBundle/Resources/public/mercury/javascripts/mercury_loader.js'
		'@MarcoLeongMercuryEditorBundle/Resources/public/mercury/javascripts/mercury.min.js'
		
		'@MacauSEOrganizationProfileBundle/Resources/public/tag-it/js/tag-it.js'
	
		'@MarcoLeongMercuryEditorBundle/Resources/public/mercury/javascripts/mercury_loader.js'
		'@MarcoLeongMercuryEditorBundle/Resources/public/mercury/javascripts/mercury.min.js'
	  %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{% stylesheets '@MarcoLeongMercuryEditorBundle/Resources/public/mercury/stylesheets/mercury.bundle.css'
	'@MacauSEOrganizationProfileBundle/Resources/public/tagedit/css/ui-lightness/jquery-ui-1.8.6.custom.css'

		'@MacauSEOrganizationProfileBundle/Resources/public/tag-it/css/tagit.ui-zendesk.css'
		'@MacauSEOrganizationProfileBundle/Resources/public/tag-it/css/jquery.tagit.css'  %}
	<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endif %}
{% endblock %}

{% block organization_content %}
<p>
	<div class="page-header"><h1>{{ profile.name }}</h1></div>
	
	<div class="mercury-region" data-type="editable" id="shortDescription">
		{{ profile.description }}
	</div>
	
	{% for tag in profile.tags %}
		<span class="label label-info">{{ tag.name }}</span>
	{% endfor %}
	
</p>

<hr />
<div class="profileTab tabbable tabs-above">
	<ul class="nav nav-pills">
	  <li class="active"><a href="#description" data-toggle="tab">{{ 'profile.show.tab.description'|trans({}, 'MacauSEOrganizationProfileBundle') }}</a></li>
	  <li><a href="#services" data-toggle="tab">{{ 'profile.show.tab.services'|trans({}, 'MacauSEOrganizationProfileBundle') }}</a></li>
	  <li><a href="#contacts" data-toggle="tab">{{ 'profile.show.tab.contacts'|trans({}, 'MacauSEOrganizationProfileBundle') }}</a></li>
	{% if is_granted('ROLE_ADMIN') %}
	  <li><a href="#settings" data-toggle="tab">{{ 'profile.show.tab.settings'|trans({}, 'MacauSEOrganizationProfileBundle') }}</a></li>
	{% endif %}
	</ul>
	 
	<div class="tab-content">
	  <div class="tab-pane active mercury-region" data-type="editable" id="description">
		  {{ profile.description | raw }}
	 </div>
	  <div class="tab-pane mercury-region" data-type="editable" id="services">{{ profile.services | raw }}</div>
		<div class="tab-pane" id="contacts">
	  		{{ profile.contacts | raw }}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
		{% include 'MacauSEOrganizationProfileBundle:Profile:show_setting.html.twig' with {'form':form,'profile':profile} %}
		{% endif %}
	</div>
</div>

{% endblock %}
